@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/media-queries';
@import 'partials/layout';
@import 'partials/header';
@import 'partials/nav';
@import 'partials/mobile-nav';
@import 'partials/section-landing';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}
body {
  font-size: 10px;
  color: $dark;
  font-family: 'Roboto', sans-serif;
}
