@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/media-queries';
@import 'partials/layout';
@import 'partials/header';
@import 'partials/nav';
@import 'partials/mobile-nav';
@import 'partials/section-landing';
@import 'partials/section-about';
@import 'partials/section-blog';
@import 'partials/card';
@import 'partials/cards-container';
@import 'partials/fade';
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/glider-js/glider.min.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  font-size: 10px;
  color: $dark;
  font-family: 'Roboto', sans-serif;
}
